.env/
2017-10-22-codeconf/example1-higgs-big/*.[ct]sv
2017-10-22-codeconf/example1-higgs-big/HIGGS.csv.gz
2017-10-22-codeconf/presentation/_minted-cmd-awk-2017-kirill-pavlov/
*.sqlite
*.pyc
2017-11-04-pycon/presentation/_minted-jsonrpc-2017-kirill-pavlov/

# LaTeX files
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
2017-11-05-pycon/presentation/_minted-cmd-awk-2017-kirill-pavlov/
