.env/
2017-10-22-codeconf/example1-higgs-big/*.[ct]sv
2017-10-22-codeconf/example1-higgs-big/HIGGS.csv.gz
2017-10-22-codeconf/presentation/cmd-awk-2017-kirill-pavlov.aux
2017-10-22-codeconf/presentation/cmd-awk-2017-kirill-pavlov.dvi
2017-10-22-codeconf/presentation/cmd-awk-2017-kirill-pavlov.log
2017-10-22-codeconf/presentation/cmd-awk-2017-kirill-pavlov.nav
2017-10-22-codeconf/presentation/cmd-awk-2017-kirill-pavlov.out
2017-10-22-codeconf/presentation/cmd-awk-2017-kirill-pavlov.snm
2017-10-22-codeconf/presentation/cmd-awk-2017-kirill-pavlov.synctex.gz
2017-10-22-codeconf/presentation/cmd-awk-2017-kirill-pavlov.toc
2017-10-22-codeconf/presentation/cmd-awk-2017-kirill-pavlov.vrb
2017-10-22-codeconf/presentation/_minted-cmd-awk-2017-kirill-pavlov/
*.sqlite
*.pyc
2017-11-04-pycon/presentation/jsonrpc-2017-kirill-pavlov.aux
2017-11-04-pycon/presentation/jsonrpc-2017-kirill-pavlov.log
2017-11-04-pycon/presentation/jsonrpc-2017-kirill-pavlov.nav
2017-11-04-pycon/presentation/jsonrpc-2017-kirill-pavlov.out
2017-11-04-pycon/presentation/jsonrpc-2017-kirill-pavlov.snm
2017-11-04-pycon/presentation/jsonrpc-2017-kirill-pavlov.synctex.gz
2017-11-04-pycon/presentation/jsonrpc-2017-kirill-pavlov.toc
2017-11-04-pycon/presentation/jsonrpc-2017-kirill-pavlov.vrb
2017-11-04-pycon/presentation/_minted-jsonrpc-2017-kirill-pavlov/
